<!DOCTYPE html>
<html>
<body>
<h1> Registrarse usuario natural </h1>
<form action="/usuario_natural" method="POST">
    <table>
        <tr><td>nombre:<td><input type="text" name="nombre"><br/>
        <tr><td>apellido:<td><input type="text" name="apellido"><br/>
        <tr><td>correo:<td><input type="text" name="correo"><br/>
        <tr><td>sexo:<td><input type="text" name="sexo"><br/>
        <tr><td>IDusuario:<td><input type="text" name="IDusuario"><br/>
        <tr><td><td><input type="submit" value="Register">
</form>
</body>
</html>

